{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}

<!-- Landing Page -->
<div class="banner-1">
    <div class="cover-1">
        <h2>The photos were shot at {{location.name}}</h2>
        <div class="container imageloc">
            <form class="form" role="search" action="{% url 'search_image' %}">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by category"name="image_category">
                  <br>
                 </div>
                 <small>Search:travel, fashion</small>
              </form>
        </div>
    </div>
</div>
<div class="container wrap">
    <!-- Looping through images -->
    <div class="row">
    {% for image in images %}
        <!-- displaying images-->
         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                 <div class="portfolio-wrap ">
                     <div class="portfolio-wrap hovereffect">
                         <a class="img-overlay" data-toggle="modal" data-target="#{{image.id}}" style="width:100%">
                             <img src="{{image.picture.cdn_url}}" href="" class="image" alt="Image" >
                             <div class="overlay">
                                 <h4>{{image.name}}</h4>
                             </div>
                         </a>
                     </div>
                 </div>
             </div>
    {% empty %}
    </div>